.player-bar {
  width: 100vw;
  padding: 10px 0;
  display: flex;

  //   playing status
//   border-top: 2px solid red;
  
}

.left-controls {
  display: flex;
  width: 30%;
  padding: 10px;

  .time-ticker {
    padding: 8px;
    font-size: 16px;
    font-weight: 600;

    .played {
      padding-right: 2px;
    }

    .remaining {
      padding-left: 2px;
    }
  }
}


.middle-controls {
  display: flex;
  justify-content: center;

  img {
    // Thumbnail
    width: 60px;
    height: 60px;
  }

  .content-info-wrapper {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
  }
}

.right-controls {
  .actions {
    display: flex;
    justify-content: flex-end;
  }

  padding: 10px;
}
