<mat-slider *ngIf="state?.readableDuration" class="time-slider" min="0" [max]="state?.duration" step="1"
  [value]="state?.currentTime" (input)="onSliderChangeEnd($event)"
  [disabled]="state?.error && currentFile.index === undefined"></mat-slider>

<div class="container-fluid" *ngIf="currentFile != undefined">

  <div class="row player-bar">
    <div class="col-md-3 left-controls">
      <div [class]="button?.class" *ngFor="let button of musicControls">
        <button mat-icon-button (click)="musicAction($event, button?.action)">
          <ng-container *ngIf="button?.class == 'play-pause-btn'">
            <mat-icon *ngIf="state?.playing">{{button?.icon}}</mat-icon>
            <mat-icon *ngIf="!state?.playing">play_arrow</mat-icon>
          </ng-container>
          <mat-icon *ngIf="button?.class != 'play-pause-btn'">{{button?.icon}}</mat-icon>
        </button>
      </div>
      <div class="time-ticker">
        <span class="played">{{(state?.readableCurrentTime != "") ? state?.readableCurrentTime : "00:00"}}</span>
        <span>/</span>
        <span class="remaining">{{(state?.readableDuration != "") ? state?.readableDuration : "00:00"}}</span>
      </div>
    </div>
    <div class="col-md-6 middle-controls">
      <img [src]="currentFile?.thumbnail" [alt]="currentFile?.title">
      <div class="content-info-wrapper">
        <div class="title">{{currentFile?.title}}</div>
        <span class="byline-wrapper">
          <div class="subtitle">
            <a href="javascript:void(0);" class="channel-link">
              {{currentFile?.author}}
            </a>
            <span>
              •
            </span>
            <a href="javascript:void(0);" class="music-link">
              {{currentFile?.album}}
            </a>

            <!-- <span>
              •
            </span>
            2013 -->
          </div>
        </span>
      </div>

    </div>
    <div class="col-md-3 right-controls">
      <div class="volume-slider"></div>
      <div class="actions">
        <mat-slider class="volume-slider" min="0" [value]="state?.volume" (input)="onVolumeChanged($event)">
        </mat-slider>
        <button (click)="toggleMute()" mat-icon-button>
          <mat-icon class="volume_mute" *ngIf="state?.muted">volume_off</mat-icon>
          <mat-icon class="volume_on" *ngIf="!state?.muted">volume_up</mat-icon>
        </button>
        <button class="repeat" mat-icon-button>
          <mat-icon>repeat</mat-icon>
        </button>
        <button class="shuffle" mat-icon-button>
          <mat-icon>shuffle</mat-icon>
        </button>
        <button class="arrow_drop_down" mat-icon-button>
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>