.time-slider {
  position: absolute;
  bottom: 110px;
  width: 100%;
  padding: 0;
  margin: 0;
  height: auto !important;
}

.player-bar {
  width: calc(100vw - 20px);
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-controls {
  display: flex;
  width: 25%;
  padding: 10px;

  .time-ticker {
    padding: 12px;
    font-size: 12px;
    font-weight: 400;

    .played {
      padding-right: 2px;
    }

    .remaining {
      padding-left: 2px;
    }
  }
}

.middle-controls {
  display: flex;
  justify-content: center;

  img {
    // Thumbnail
    width: 60px;
    height: 60px;
  }

  .content-info-wrapper {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
  }
}

.right-controls {
  .actions {
    display: flex;
    justify-content: flex-end;
  }

  padding: 10px;
}
