$my-light-primary: mat-palette($mat-blue, 400, 500, 300);
$my-light-accent: mat-palette($mat-orange, 400);
$my-light-warn: mat-palette($mat-orange, 400);

$my-light-theme: mat-light-theme(
  $my-light-primary,
  $my-light-accent,
  $my-light-warn
);
