@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,400;1,600&display=swap');

@font-face {
  font-family: Berkentia;
  src: url('./../assets/fonts/Barkentina.otf') format('opentype');
}

@font-face {
  font-family: BerktentiaBold;
  font-weight: bold;
  src: url('./../assets/fonts/Barkentina.otf') format('opentype');
}
