<div class="container-fluid">
  <div class="row content">
    <div class="col-md-8 media-content">
      <img
        src="https://lh3.google.com/u/0/d/1Oy5yeBSUBlNa5rI90rMPdYJTW-ipkEIM=w1920-h673-iv1"
        alt="song image">
    </div>
    <div class="col-md-4 list-tabs">
      <mat-tab-group dynamicHeight>
        <ng-container *ngFor="let tab of tabs">
          <mat-tab [label]="tab?.title | uppercase">
            <div class="queue-list-container mat-elevation-z4">
              <!-- Queue -->
              <ng-container *ngFor="let item of songQueue | async">
                <queue-item [item]="item"></queue-item>
              </ng-container>
            </div>
          </mat-tab>
        </ng-container>
      </mat-tab-group>

    </div>
  </div>
</div>
