.content {
  padding: 64px 96px 0 96px;
}

.media-content {
  // padding: 10px;
  width: calc(100vw - 30%);
  //   height: calc(100vh - 300px);
  // background-color: red;
  object-fit: contain;
  display: flex;
  justify-content: center;

  img {
    max-width: 450px;
    object-fit: contain;
    border-radius: 8px;
  }
}

.queue-list-container,
.lyrics-container {
  height: calc(100vh - 320px);
  overflow: auto;
}

.lyrics-container {
  padding: 20px;
}
